body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header {
    background-color: #e74c3c; 
    color: white;
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
}


.section {
    padding: 130px;
}

.yellow { background-color: #f1c40f; } 
.orange { background-color: #e67e22; } 
.green  { background-color: #27ae60; } 

.section h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section p {
    font-size: 14px;
    line-height: 1.5;
}