body{
    font-family: ftltlt;
}

@font-face {
    font-family: ftltlt;
    src: url(/ftltlt-webfont.woff);

}


h2{
    font-size: 56px;
    color: #9000ff;
    font-weight: 900px;
}
p:first-of-type{
     font-size: 28px;
     color: #0d0303;
     font-weight: 900;
}

a{
    color: #7272dd;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}